*{
  border-width: 0px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 5vmin;
  outline: none;
  text-decoration: none;
  background-color: #b96e6e00;
  color:#000000;
  border-color:#ffffff;
}

/*Code For Firefox*/

::-moz-calendar-picker-indicator{
  cursor: pointer;
}

 * {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b transparent;
 }
 

 *:hover {
  scrollbar-color: #858585 transparent;
 }
 
[type="search"]::-moz-search-cancel-button {
  -moz-appearance: none;
  appearance: none;
 }
 
 input,
 textarea,
 button,
 select,
 a,
 label {
  -moz-tap-highlight-color: #ffffff00;
 }
 
 button:focus, a:focus {
  outline: none;
  box-shadow: none;
 }
 
 button:active, a:active {
  outline: none;
  background-color: #ffffff00;
 } 

/*end of Code For Firefox*/ 






/*Code For Microsoft Edge */

input[type="date"]::-ms-clear{
  cursor: pointer;
}

body::-ms-scrollbar {
  width: 1.3vmin;
 }
 
 body::-ms-scrollbar-track {
  background: transparent;
 }
 
 body::-ms-scrollbar-thumb {
  border-radius: 100vmin;
  background: #3b3b3bbd;
 }
 
 body::-ms-scrollbar-thumb:hover {
  background: #858585bd;
 }



[type="search"]::-ms-clear {
  display: none;
 }
 
 input,
 textarea,
 button,
 select,
 a,
 label {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
 }
 
 button:focus, button:active, a:focus, a:active {
  outline: none;
  box-shadow: none;
 }

/*The end of Code Microsoft Edge*/ 






/*Code For Google Chrome*/

::-webkit-calendar-picker-indicator{
  cursor: pointer;
  filter: invert(75%) sepia(50%) saturate(800%) hue-rotate(200deg) brightness(100%) contrast(0%);
}


@supports not selector(::-webkit-scrollbar) {
  .scroller {
    scrollbar-width: thin;
    scrollbar-color: #3b3b3b transparent;
  }
}


[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input,
textarea,
button,
select,
a,
label {
  -webkit-tap-highlight-color: #ffffff00;
}



button:focus, a:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0);
}

button:active, a:active {
  outline: none;
  background-color: #ffffff00;
}
 
/*End of Code For Google Chrome*/


#filter{
  position: absolute;
  z-index: 11;
  width:100%;
  height:1000%;
  background-color: #4d4d4d8a;
  transition-timing-function: ease;
}

html{
  height: 100%;
  width: 100%;
}

body{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .4s;
  transition: color .4s;
  min-height: 100svh;
}

#Nav{
  z-index: 10;
  display: grid;
  height: 12vmin;
  grid-template-areas: 
  '... NavBtns NavBtns ...'
  '. Filters-Window Filters-Window .'
  '. EnableDisableHistory EnableDisableHistory .'
  '... TopicName RemoveTopicBtn ...';
  justify-items: center;
  column-gap: 2vmin;
  row-gap: 2vmin;
  margin-bottom: 5vmin;
}

#EnableDisableHistory{
  grid-area: EnableDisableHistory;
  cursor: pointer;
  width:20vmin;
  height:4.5vmin;
  font-size: 3vmin;
  border-width: .4vmin;
  border-radius: 1vmin;
  border-style: solid;
  border-color: #000000;
  transition: width .15s, height .15s, font-size .15s;
}

#EnableDisableHistory:hover{
  width:23vmin;
  height:5.5vmin;
  font-size: 3.5vmin;
}

#DeleteHistoryBtn{
  cursor: pointer;
  width:21vmin;
  height:4.5vmin;
  font-size: 3vmin;
  border-width: .4vmin;
  border-radius: 1vmin;
  border-style: solid;
  border-color: #000000;
  transition: width .15s, height .15s, font-size .15s;
}

#DeleteHistoryBtn:hover{
  font-size: 3.1vmin;
}

#NavBtns{
  grid-area:NavBtns;
  display: flex;
  justify-content: space-between;
  width:40vmin;
}


#Filters-Window{
  grid-area:Filters-Window;
  position: absolute;
  top:32.5vmin;
  background-color: #ffffff;
  border-width: .5vmin;
  border-radius: 1vmin;
  border-style: solid;
  border-color: #000000;
  width: 48vmin;
  padding:1vmin;
  display: grid;
  grid-template-areas: 
  'Date-Filter Close-Filters-Window-Btn'
  'Date-Filter ...'
  'Date-Filter Set-Filter-Btn';
}


#Set-Filter-Btn{
  cursor: pointer;
  grid-area: Set-Filter-Btn;
  width:8.5vmin;
  height:4.5vmin;
  justify-self: end;
  align-self: flex-end;
  font-size: 3vmin;
  border-width: .4vmin;
  border-radius: 1vmin;
  border-style: solid;
  border-color: #000000;
  transition: width .15s, height .15s, font-size .15s, padding .15s;
}

#Set-Filter-Btn:hover{
  width:8.8vmin;
  height:4.8vmin;
  font-size: 3.2vmin;
}



#Close-Filters-Window-Btn{
  grid-area: Close-Filters-Window-Btn;
  cursor: pointer;
  font-size: 3vmin;
  padding-right: .2vmin;
  width: 5vmin;
  height: 5vmin;
  justify-self: end;
  border-style: solid;
  border-width: .4vmin;
  border-radius: 1vmin;
  border-color:#000000;
  transition: width .15s, height .15s, font-size .15s, padding .15s;
}

#Close-Filters-Window-Btn:hover{
  font-size: 3.4vmin;
  width: 5.4vmin;
  height: 5.4vmin;
}

#Date-Filter{
  grid-area: Date-Filter;
  display: flex;
  flex-direction: column;
}


#Set-Date-Lable{
  font-size: 3vmin;
}

#Set-Date{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  width:22vmin;
  height:5vmin;
  border-width: .5vmin;
  border-radius: 1vmin;
  border-style: solid;
  border-color: #000000;
  transition: width .15s, height .15s, font-size .15s, padding .15s;
}

#day-input,#month-input{
  font-family: Courier New, monospace;
  font-size: 3vmin;
  font-weight: 800;
  width: 4vmin;
  height: 5vmin;
}

#year-input{
  font-family: Courier New, monospace;
  font-size: 3vmin;
  font-weight: 800;
  width: 8.5vmin;
  height: 4vmin;
}


#Date-Filter-After-Option,#Date-Filter-Before-Option,#Date-Filter-Exactly-Option{
  cursor: pointer;
  border-width: .5vmin;
  height: 2.5vmin;
  width: 2.5vmin;
}

.Date-Filter-Option-Lable{
  font-size: 3.2vmin;
}




#TopicsBtn,#FiltersBtn,#HomeBtn{
  cursor: pointer;
  display: flex;
  font-size: 3vmin;
  width:12vmin;
  height: 4.5vmin;
  padding: 1vmin;
  border-style: solid;
  border-width: .4vmin;
  border-radius: 1vmin;
  border-color:#000000;
  align-items: center;
  justify-content: center;
  transition: width .15s, height .15s, font-size .15s, padding .15s;
}



#TopicsBtn:hover,#FiltersBtn:hover,#HomeBtn:hover{
  cursor: pointer;
  width:13vmin;
  height:5vmin;
  padding: 1.3vmin;
  font-size: 3.5vmin;
}

#RemoveTopicBtn,#removeDateFilter{
  cursor: pointer;
  display: flex;
  font-size: 3.5vmin;
  width:15vmin;
  height: 5vmin;
  padding: 2vmin;
  border-style: solid;
  border-width: .6vmin;
  border-radius: 1vmin;
  border-color:#000000;
  align-items: center;
  justify-content: center;
  transition: width .15s, height .15s, font-size .15s, padding .15s;
}

#RemoveTopicBtn:hover,#removeDateFilter:hover{
  cursor: pointer;
  width:16vmin;
  height:5.5vmin;
  padding: 2.5vmin;
  font-size: 4vmin;
}

#RemoveTopicBtn{
  grid-area: RemoveTopicBtn;
}

#TopicName{
  grid-area: TopicName;
  display: flex;
  font-size: 5vmin;
  height: 6vmin;
  align-items: center;
  justify-content: end;
}

#Top-Bar-flex{
  grid-area: Top-Bar-flex;
  display: flex;
  width:100vmin;
}

#Nav-Bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2vmin;
}

#Theme-Button{
  width:6.6vmin;
  height:6.6vmin;
  margin-right: .8vmin;
  margin-left: .5vmin;
  margin-top: 2.9vmin;
}

#Theme-Button>img{
  width:6vmin;
  height:6vmin;
  transition: width .15s, height .15s ;
}

#Theme-Button:hover>img{  
  width:7vmin;
  height:7vmin;
}


#MainGrid{
  display: grid;
  grid-template-areas: 
  '... Nav-Bar ...'
  '... Content-List ...'
  'Pages Pages Pages';
  justify-items: center;
}



#Search-Bar{
  grid-area:Search-Bar ;
  margin: 1vmin 0 1vmin 0;
}

#Search-Bar-Border{
  border:solid;
  border-width: .7vmin;
  border-radius: 1.2vmin;
  width:85vmin;
}



#Search-Text{
  border-radius: 1.2vmin;
  color:#000000;
  height: 8vmin;
  width:75vmin;
  padding: .5vmin 0 0 .6vmin;
  cursor: text;
  font-size: 5vmin;
}

#Search-Button{
  border-radius: 1.2vmin;
  color:#000000;
  height: 8vmin;
  width: 8vmin;
  cursor: pointer;
}


#Auto-Complete-List{
  display: none;
  position: absolute;
  border:solid #000000;
  border-width:0 .7vmin .7vmin .7vmin;
  border-color: #000000;
  border-radius: 0 0 1vmin 1vmin;
  z-index: 99999999999999999999999999999999999999;
  width:85vmin;
}


.Auto-Complete-List-Item{
background-color:#ffffff;
cursor: pointer;
}

.Auto-Complete-List-Item:hover{
  background-color:#e6e6e6;
}

.Auto-Complete-List-Item-Dark{
background-color:#000000;
color:#ffffff;
}

.Auto-Complete-List-Item-Dark:hover{
background-color:#292929;
}







#Content-List{
  grid-area: Content-List;
  display: grid;
  grid-template-columns: 32vmin 32vmin 32vmin;
  column-gap: 2vmin;
  row-gap:2vmin;
}


.Content-Container{
  display:flex;
  flex-direction: column;
  width:32vmin;
  height:37.9vmin;
  word-wrap:break-word;
  cursor: pointer;
}

.image{
  height:20vmin;
  width:32vmin;
  border-radius: 2vmin;
}

.discription{
  font-size: 3.5vmin;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:500;
}

#Pages{
  grid-area: Pages;
  display: flex;
  width:100vmin;
  margin-top: 8vmin;
  margin-left: .3vmin;
}

#Added-Pages{
  display: flex;
}
.PageLink, .PageArrow{
  cursor: pointer;
  background-color: #ffffff00;
  border-width: .4vmin;
  border-radius: 100vmin;
  height: 7.1vmin;
  width: 7.1vmin;
  font-size: 3vmin;
}


.PageLink:hover,.PageArrow:hover{
  border-width: .6vmin;
}



.PageLink-selected{
  cursor: pointer;
  background-color: #00eeffaf;
}


#To-First-Page{
  padding:.8vmin .3vmin 0 0;
}
#To-First-Page>img{
width: 3vmin;
height: 3vmin;
}

#Back-One-Page{
  padding:.4vmin .5vmin 0 0;
}

#Back-One-Page>img{
  width: 2.5vmin;
  height: 2.5vmin;
}

#Forward-One-Page{
  padding:.4vmin 0 0 .5vmin;
}
#Forward-One-Page>img{
  width: 2.5vmin;
  height: 2.5vmin;
}

#To-Last-Page{
  padding:.8vmin 0 0 .3vmin;
}

#To-Last-Page>img{
  width: 3vmin; height: 3vmin;
}

.hide{
  display: none;
  pointer-events: none;
}


#image1{
  width:300px;
  height:300px;
}


#WebsiteInfo{
    position:absolute;
    bottom:-20%;
    margin-top: 2vmin;
    display:flex;
    background-color: #3b3b3b; 
    width:100%;
    height:6vmin;
    align-items: center;
    justify-content: space-evenly;
    gap:3vmin;
}

.WebsiteInfoTXT{
    color: #fdfdfd;
}
   
.WebsiteInfoLink{
  color: #fdfdfd;
  cursor: pointer;
  font-size: 3.5vmin;
}



@media screen and (min-width:1300px ) {
  

  #Close-Filters-Window-Btn{
    padding-right: .2vmin;
  }

  #Content-List{
    grid-area: Content-List;
    display: grid;
    grid-template-columns: 47vmin 47vmin 47vmin 47vmin;
    column-gap: 3vmin;
    row-gap:3vmin;
  }
  
  
  .Content-Container{
    display:flex;
    flex-direction: column;
    width:47vmin;
    height:40vmin;
    word-wrap:break-word;
    cursor: pointer;
  }
  
  .image{
    height:25vmin;
    width:47vmin;
    }
  
  .discription{
    font-size: 4vmin;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
  }

  #Pages{
    grid-area: Pages;
    display: flex;
    width:165vmin;
    margin-top: 5vmin;
    margin-left: .3vmin;
    gap:2vmin;
  }

  #Added-Pages{
    display: flex;
    gap:2vmin;
  }
  .PageLink, .PageArrow{
    cursor: pointer;
    background-color: #ffffff00;
    border-width: .4vmin;
    border-radius: 100vmin;
    height: 10vmin;
    width: 10vmin;
    font-size: 5.8vmin;
  }

  .PageLink-selected{
    cursor: pointer;
    background-color: #00eeffaf;
  }


  #To-First-Page{
    padding:.8vmin .3vmin 0 0;
  }

  #To-First-Page>img{
  width: 4.5vmin;
  height: 4.5vmin;
  }
  
  #Back-One-Page{
    padding:.6vmin .5vmin 0 0;
  }
  
  #Back-One-Page>img{
    width: 4vmin;
    height: 4vmin;
  }
  
  #Forward-One-Page{
    padding:.6vmin 0 0 .5vmin;
  }
  #Forward-One-Page>img{
    width: 4vmin;
    height: 4vmin;
  }
  
  #To-Last-Page{
    padding:.8vmin 0 0 .3vmin;
  }
  
  #To-Last-Page>img{
    width: 4.5vmin; height: 4.5vmin;
  }


  .PageLink:hover,.PageArrow:hover{
    border-width: .6vmin;
    font-size: 6vmin;
  }



  #WebsiteInfo{
    position:absolute;
    bottom:-10%;
    display:flex;
    background-color: #3b3b3b;    
    margin-top: 3vmin;
    width:100%;
    height:6vmin;
    align-items: center;
    justify-content: space-evenly;
    gap:0;
  }

  .WebsiteInfoLink{
    color: #fdfdfd;
    cursor: pointer;
    font-size: 4vmin;
  }



}



@media screen and (min-width:1000px ) and (max-width:1280px ) and (max-height:800px) and (min-height:600px){


  #Content-List{
    grid-area: Content-List;
    display: grid;
    grid-template-columns: 35vmin 35vmin 35vmin 35vmin;
    column-gap: 3vmin;
    row-gap:15vmin;
  }
  
  
  .Content-Container{
    display:flex;
    flex-direction: column;
    width:35vmin;
    height:30vmin;
    word-wrap:break-word;
    cursor: pointer;
  }
  
  .image{
    height:20vmin;
    width:35vmin;
    }
  
  .discription{
    font-size: 4vmin;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
  }

  #Pages{
    grid-area: Pages;
    display: flex;
    width:145vmin;
    margin-top: 5vmin;
    margin-left: .3vmin;
    gap:1.5vmin;
  }

  #Added-Pages{
    display: flex;
    gap:1.5vmin;
  }
  .PageLink, .PageArrow{
    cursor: pointer;
    background-color: #ffffff00;
    border-width: .4vmin;
    border-radius: 100vmin;
    height: 9vmin;
    width: 9vmin;
    font-size: 5.8vmin;
  }

  .PageLink-selected{
    cursor: pointer;
    background-color: #00eeffaf;
  }


  #To-First-Page{
    padding:.8vmin .3vmin 0 0;
  }

  #To-First-Page>img{
  width: 4.5vmin;
  height: 4.5vmin;
  }
  
  #Back-One-Page{
    padding:.6vmin .5vmin 0 0;
  }
  
  #Back-One-Page>img{
    width: 4vmin;
    height: 4vmin;
  }
  
  #Forward-One-Page{
    padding:.6vmin 0 0 .5vmin;
  }
  #Forward-One-Page>img{
    width: 4vmin;
    height: 4vmin;
  }
  
  #To-Last-Page{
    padding:.8vmin 0 0 .3vmin;
  }
  
  #To-Last-Page>img{
    width: 4.5vmin; height: 4.5vmin;
  }


  .PageLink:hover,.PageArrow:hover{
    border-width: .6vmin;
    font-size: 6vmin;
  }




  #WebsiteInfo{
    position:absolute;
    bottom:-10%;
    display:flex;
    background-color: #3b3b3b;    
    margin-top: 3vmin;
    width:100%;
    height:6vmin;
    align-items: center;
    justify-content: space-evenly;
    gap:0;
  }

  .WebsiteInfoLink{
    color: #fdfdfd;
    cursor: pointer;
    font-size: 4vmin;
  }




}


